[Unit]
Description=Terastation Hotswap
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/hotswap_enable.sh

[Install]
WantedBy=multi-user.target
