[Unit]
Description=Terastation Hotswap
Wants=module_build.service
After=module_build.service

[Service]
ExecStart=/usr/local/bin/hotswap_enable.sh

[Install]
WantedBy=multi-user.target
