name: Generate new images if needed

on:
  push:
    paths:
      - '.rebuild'
      - '.github/workflows/autobuild.yml'
  schedule:
      - cron: "*/20 * * * *"

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    container: 'debian:12'
    env:
      build_needed: no
      versions: "Bookworm Trixie"
    steps:
      - run: |
          apt-get update; apt-get -y install git curl
          git config --global --add safe.directory $PWD
      - uses: actions/checkout@v4
      - run: |
          set -e
          for x in ${{env.versions}}; do
          oldbase="$(curl -sL "https://github.com/${{github.repository}}/raw/master/installer-image/$x/build/last_build.txt" 2>/dev/null)"
          newbase="$(curl -sL "http://ftp.nl.debian.org/debian/dists/${x,,}/main/installer-amd64/current/images/netboot/debian-installer/amd64/initrd.gz" 2>/dev/null | md5sum)"
          [ "$oldbase" != "$newbase" ] && echo "yes" > .rebuild
          done
          exit 0
          [ "$(cat .rebuild)" = "yes" ] || exit 0
          apt-get update
          apt-get -y install curl gzip rsync wget cpio mtools git isolinux xz-utils xorriso syslinux-utils genisoimage
          git config user.name "workflow@github"; git config user.email "workflow@github"
          for x in ${{env.versions}}; do
          cd "installer-image/$x/build/"
          ./generate_images.sh
          cp output/*.iso ../
          cat debian-files/initrd.gz | md5sum > last_build.txt
          cd -; done
          echo no > .rebuild
          git config user.name "workflow@github"; git config user.email "workflow@github"
          git commit -v -a -m "update installer images"
          git push https://${{github.actor}}:${{secrets.GITHUB_TOKEN}}@github.com/${{github.repository}}.git HEAD:master
